<%= form_for(@property) do |f| %>
  <div class="form">
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
  </div>

  <div class="form">
    <p><%= f.label :rent %></p>
    <%= f.text_field :rent %>
  </div>

  <div class="form">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="form">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="form">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div><br>

<!-- 最寄り駅の登録 -->
  <% i = 1 %>
  <%= f.fields_for :stations do |s| %>
    <p>最寄り駅1</p>
    <div class="form">
      <p><%= s.label :line_name %></p>
      <%= s.text_field :line_name %>
    </div>

    <div class="form">
      <p><%= s.label :station_name %></p>
      <%= s.text_field :station_name %>
    </div>

    <div class="form">
      <p><%= s.label :walk_minutes %></p>
      <%= s.text_field :walk_minutes %>
    </div>
  <% end %>

  <%= f.fields_for :stations do |s| %>
    <p>最寄り駅2</p>
    <div class="form">
      <p><%= s.label :line_name %></p>
      <%= s.text_field :line_name %>
    </div>

    <div class="form">
      <p><%= s.label :station_name %></p>
      <%= s.text_field :station_name %>
    </div>

    <div class="form">
      <p><%= s.label :walk_minutes %></p>
      <%= s.text_field :walk_minutes %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>

<%= link_to 'Back', properties_path %>